.controls,
.table_cont,
.homepage {
    min-height: calc(100vh - 106px) ;
}
.game_plate {
    min-height: calc(100vh - 156px);
}
.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage div {
    font-size: 50px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 15px;
    color: #b71c1c;
}
.homepage img {
    margin-top: 50px;
    width: 280px;    
}
.btn_startplay {
    margin-top: 50px;
    background-color: #b71c1c;
    width: 150px;
    font-size: 27px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 10px;
}

.row {
    margin: 0;
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
}
.item {
    width: 5%;
    height: 45px;
    text-align: center;   
}
.wallItem {
    width: 100%;
    height: 100%; 
    background-color: black;
}
.boss_wallItem {
    width: 100%;
    height: 100%; 
    background-color: #ffee58;
}

.certItem {
    font-size: 30px;
    color: yellowgreen;

}
.skillItem {
    font-size: 30px;
    color: blueviolet;

}
.userItem {
    font-size: 35px;
    color: white;

}
.bossItem {
    font-size: 35px;
    color: #e53935;
}
.board_cont {   
    margin-top: 50px;
    border: 1.5px solid;
    border-radius: 5px; 
    width: 100%;
    position: relative; 
    background-color: #80deea;    
}
.navbar {
    position: relative;
}
.results {
    position: absolute;
    right: 5%;
    background-color: #f8f9fa;
    font-size: 25px;  
    display: flex; 
}
.results_certificates {
    margin-right: 10px;
}
.results_skills {
    margin-right: 10px;
}
.certificates_ava {
    color: yellowgreen;
}
.skills_ava {
    color: blueviolet;;
}

.music_ava {
    cursor: pointer;
}
.footer {   
    background-color: #f8f9fa;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_author {
    color: gray;
    margin-right: 3%;
    font-size: 19px;

}
.footer_author  a{
    color: #80deea;
    font-weight: 700;

}
.footer_img {
    width: 50px;
    height: 50px;
    margin-left: 3%;
    cursor: pointer;
  
}
.footer_img img {
    width: 100%;
    height: 100%;
}
.game_cont {
    position: relative;
}

.modal_endgame {
    width: 500px;
    position: absolute;
    top: calc(50% - 200px);
    right: calc(50% - 250px);
    z-index: 2;   
   text-align: center;
}

._active {
    display: none;
}
.steps_cont {
    color: red;
    font-weight: 600;
    font-size: 23px;
}
.mode_btn {
    font-size: 27px;
    width: 25px;
}
.mode_btn:hover {
    cursor: pointer;
    filter: brightness(.9)
}

.mode_btn:active {
    filter: brightness(.5)
}


.App_night {
    background-color: #3f51b5;
}
.navbar_night {
    background-color: #7986cb !important;   
}
.results_night {
    background-color: #7986cb;   
}
.board_cont_night {
    background-color: #7e57c2;
}
.footer_night {
    background-color: #7986cb;   
} 
.table_night {
    color: white !important;
} 
.label_night{
    color: white
}
.btn_new_game_cont {
    margin-top: 100px;
    display: flex;
    justify-content: center;    
}
.btn_new_game {
    font-weight: 700;
    font-size: 25px;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 5px;
    background-color: #b71c1c;
}