
.row {
    width: 100%;  
    display: flex;
    flex-wrap: wrap;
}
.item {
    height: 35px;
    text-align: center;
    /* border: 1px solid; */
}
.wallItem {
    width: 100%;
    height: 100%; 
    background-color: black;
}

.skillItem {
    font-size: 25px;
    color: yellowgreen;

}
.userItem {
    font-size: 30px;
    color: red;

}